:root {
    --violet: #6725a8;
    --magenta: #cb11ab;
    --green: #0cb477;
    --coral: #ff3b30;
    --smoky: #f6f6fa;
    --smoky-dark: #f0ecf4;
    --system-white: #ffffff;
    --system-gray: #9797af;
    --light-system-gray: #a0a0a4;
    --system-red: #f55123;
    --text-black: #000000;
}
